footer
	.container
		div.row
			div.col-xs-6.text-center
				a.btn.btn-default(href='/', role='button') Look //should make buttons
			div.col-xs-6.text-center
				<button onclick="window.location.href='/home-map.jade'">Mark</button>