.seanNav
	.container
		div.row
			div.col-xs-7
				a(href='/')
					img(src='LookMark_FullLogo.png' width='80%' height='80%')
				div(class='btn-group' role='group' aria-label='...')
					a(class='btn btn-default' type='button' href='/') 
						img(src='http://downloadicons.net/sites/default/files/stack-icons-63178.png' height='20px' width='20px')
					a(class='btn btn-default' type='button' href='/map')
						img(src='http://cdn.mysitemyway.com/icons-watermarks/simple-black/foundation/foundation_marker/foundation_marker_simple-black_512x512.png' height='20px' width='20px')
			div.col-xs-5.text-right
				div.input-group
					input(type='text' class='form-control' placeholder='I am looking for...')
					span.input-group-btn
						button(class='btn btn-default' type='button') Go!