extends layout

block content
	div.lookMark
		h3 Woorijip
		img(src='https://pennypalate.files.wordpress.com/2009/02/woorijip.jpg')
		div.row
			div.col-xs-6 
				p.pull-left 🔥🔥🔥🔥
			div.col-xs-6
				p.pull-right 10 influencers have been here

	div.lookMark 
		h3 Cafe Orlin
		img(src='https://wanderonwards.files.wordpress.com/2013/08/mogadorbrunch.jpg')
		div.row
			div.col-xs-6
				p.pull-left 🔥🔥🔥
			div.col-xs-6
				p.pull-right 15 influencers have been here

	div.lookMark 
		h3 Shake Shack
		img(src='http://burgerdays.com/wp-content/uploads/2013/06/shackburg.jpg')
		div.row
			div.col-xs-6 
				p.pull-left 🔥🔥🔥🔥
			div.col-xs-6
				p.pull-right 4 influencers have been here

	div.lookMark 
		h3 Bluestone Coffee - Midtown East 
		img(src='https://thirstynyc.com/wp-content/uploads/2014/06/Bluestone-Lane.jpg')
		div.row
			div.col-xs-6 
				p.pull-left 🔥🔥🔥
			div.col-xs-6
				p.pull-right 7 influencers have been here