extends ../layout

block content
  h3 List of all follows
  ul
    for follow in allFollows
      li
        div #{follow.username} #{follow.instagram_id} #{follow.full_name} #{follow.profile_picture}